.vscode/
p9/9.12.test1/.DS_Store
p9/9.11/.DS_Store
p9/9.12.test2/.DS_Store
p9/9.12.test3/.DS_Store
p9/9.12.test4/.DS_Store
p9/9.2/.DS_Store
p9/9.5/.DS_Store
p9/9.7/.DS_Store
p13/.DS_Store

.idea/
cmake-build-debug/
build/